<manifest package="me.itangqi.module.photoview"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".PhotoViewApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".PagerPhotoViewActivity"
            android:theme="@style/Transparent"/>
        <activity
            android:name=".SinglePhotoViewActivity"
            android:theme="@style/Transparent"/>
        <activity
            android:name=".PermissionsActivity"/>

    </application>

</manifest>
